<!DOCTYPE html>
<html>
<head>
  <title>Bow</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <style type="text/css">
      a:hover {
        background: none;
      }
      .topbar {
        height: 125px;
        position: relative;
      }
      .topbar .container {
        height: 85px;
        margin-top: 20px;
        background: #F9DF0B;
        padding: 10px;
        background-image: url('MaD-Australia-map.png');
        background-repeat: no-repeat;
        background-position: 95% 10px;
        background-size: 110px;
      }
      .topbar .container a {
        color: #263311;
        font-size: 5em;
        text-transform: uppercase;
        font-weight: bold;
        font-style: italic;
      }
      form .input {
        margin-left: 0px;
      }
  </style>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="container">
      <a class="brand" href="/">Bow</a>
      <br/>
      <sub>Real Aussies, Real reviews &reg;</sub>
    </div>
  </div>
  <div class="container">
    <%= yield %>
    <footer>
      <p>&copy; Bow (thats right) 2011</p>
    </footer>
  </div>
</body>
</html>
